Package: com.0xkuj.3dappversionspoofer
Name: 3DAppVersionSpoofer
Version: 2.0.3
Architecture: iphoneos-arm
Description: A tweak to add app spoofing capabilities right from your 3D menu and prefs
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
Depends: com.opa334.altlist
