Package: com.0xkuj.3dappversionspoofer
Name: 3DAppVersionSpoofer
Version: 1.0.1
Architecture: iphoneos-arm
Description: A tweak to add app spoofing capabilities right from your 3D menu
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
