Package: com.0xkuj.spoofappversion
Name: Spoof App Version
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1
Installed-Size: 204
