<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.3dappversionspoofer</string>
			<key>key</key>
			<string>isTweakEnabled</string>
			<key>label</key>
			<string>Tweak Enabled</string>
			<key>PostNotification</key>
			<string>com.0xkuj.3dappversionspoofer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.3dappversionspoofer</string>
			<key>key</key>
			<string>is3DMenu</string>
			<key>label</key>
			<string>Add 3D Menu Action</string>
			<key>PostNotification</key>
			<string>com.0xkuj.3dappversionspoofer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPLICATIONS</string>
			<key>footerText</key>
			<string>Edit Your Apps Version</string>
		</dict>
	<dict>
	<key>cell</key>
	<string>PSLinkListCell</string>
	<key>detail</key>
	<string>AVSApplicationsController</string>
	<key>subcontrollerClass</key>
	<string>AVSApplicationDetails</string>
	<key>label</key>
	<string>Applications</string>
	<key>sections</key>
	<array>
		<dict>
			<key>sectionType</key>
			<string>Visible</string>
		</dict>
		<dict>
			<key>sectionType</key>
			<string>Hidden</string>
		</dict>
	</array>
	<key>showIdentifiersAsSubtitle</key>
	<true/>
	<key>useSearchBar</key>
	<true/>
	</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MISCELLANEOUS</string>
			<key>footerText</key>
			<string>Restore to default settings - will restore your tweak preferences back to first-time configuration</string>
		</dict>
		<dict>
			<key>action</key>
			<string>defaultsettings:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>respring.png</string>
			<key>label</key>
			<string>Restore to default settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donationLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>label</key>
			<string>Buy me a beer ;)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>label</key>
			<string>Follow me on Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openGithub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>GitHub.png</string>
			<key>label</key>
			<string>Source Code</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made by: 0xkuj | v2.0.3</string>
		</dict>
	</array>
	<key>title</key>
	<string>3DAppVersionSpoofer</string>
</dict>
</plist>
